[submodule "aosptree/vendor/bass/includes/core-menu"]
	path = aosptree/vendor/bass/includes/core-menu
	url = https://github.com/electrikjesus/easy-menu-system.git

[submodule "aosptree/vendor/bass/prebuilts/wallpaperchanger"]
	path = aosptree/vendor/bass/prebuilts/wallpaperchanger
	url = git@github.com:BlissBass-Private/wallpaperchanger_prebuilt.git