aosptree/**
!aosptree/vendor
!aosptree/vendor/bass
!aosptree/vendor/bass/**
aosptree/vendor/bass/branding
aosptree/vendor/bass/addons
aosptree/vendor/bass/tmp
!aosptree/vendor/bass/tmp/build_config
aosptree/vendor/bass/configs/watermark/create_watermark/**
logs/*
manifests/private*.xml

private/manifests/*
private/addons/*
private/aaropa/calamares/*
private/aaropa/grub/*
private/themes/calamares/*
private/themes/grub/*
private/themes/gtk/*
private/themes/rootfs/*

!private/manifests/.gitignore
!private/addons/.gitignore
!private/aaropa/calamares/.gitignore
!private/aaropa/grub/.gitignore
!private/themes/calamares/.gitignore
!private/themes/grub/.gitignore
!private/themes/gtk/.gitignore
!private/themes/rootfs/.gitignore

.config
.config/**

scratchpad/

._*
.DS_Store

# IDE
.vscode